body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

h4 {
  color:  red;
  text-align:  center;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20%;
}

form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.player div {
  width: 20%;
}

.player .name {
  width: 40%;
}

.player button {
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.player button:hover {
  background-color: #0056b3;
}

.player .add {
  background-color: #28a745;
}

.player .sub {
  background-color: #dc3545;
}

.player .delete {
  background-color: #6c757d;
}
