*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;
    background-color: rgb(190, 160, 219);
}

h1{
    font-size: 5rem;
    word-spacing: 20px;
}

span{
    letter-spacing: 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    font-size: 5rem;
    word-spacing: 20px;
    color: rgb(94, 180, 86);
    animation: fadeIn 1s ease-in-out;
}